In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
with open('MPE1004_0000000000.json','r') as f:
    data = json.loads(f.read(),encoding='UTF-8')

In [3]:
pd.json_normalize(data)

,site_id,results,secondary_results,related_results,available_sorts,filters,available_filters,paging.total,paging.offset,paging.limit,paging.primary_results,sort.id,sort.name
0,MPE,"[{'id': 'MPE433108265', 'site_id': 'MPE', 'tit...",[],[],"[{'id': 'price_asc', 'name': 'Menor precio'}, ...","[{'id': 'adult_content', 'name': 'Filtro de co...","[{'id': 'official_store', 'name': 'Tiendas ofi...",39,0,200,39,relevance,MÃ¡s relevantes

In [4]:
results = pd.json_normalize(data['results'])

In [5]:
results.head()

,id,site_id,title,price,currency_id,available_quantity,sold_quantity,buying_mode,listing_type_id,stop_time,...,seller_address.address_line,seller_address.zip_code,seller_address.country.id,seller_address.country.name,seller_address.state.id,seller_address.state.name,seller_address.city.id,seller_address.city.name,seller_address.latitude,seller_address.longitude
0,MPE433108265,MPE,Dvd Portatil De 12 Pulgadas Nuevo Sellada,280.0,PEN,9,6,buy_it_now,gold_special,2039-05-29T23:42:59.000Z,...,,,PE,Peru,PE-LIM,Lima,TVBFQ0xJTWE2NjBi,Lima,,
1,MPE434382765,MPE,Dvd LG Multiformato Dp132 Nuevos Sellados,129.0,PEN,3,6,buy_it_now,gold_special,2039-10-19T00:05:41.000Z,...,,,PE,Peru,PE-LIM,Lima,TVBFQ0xJTWE2NjBi,Lima,,
2,MPE433853177,MPE,Reproductor De Cd/vcd/mp3 Con Decodificador De...,100.0,PEN,17,3,buy_it_now,gold_special,2038-10-26T04:00:00.000Z,...,,,PE,Peru,PE-LIM,Lima,TVBFQ0xJTWE2NjBi,Lima,,
3,MPE419883282,MPE,Mini Dvd-rw Panasonic Excelente Calidad,20.0,PEN,18,15,buy_it_now,gold_special,2039-04-23T01:38:33.000Z,...,,,PE,Peru,PE-LIM,Lima,TVBFQ0xJTWE2NjBi,Lima,,
4,MPE431714651,MPE,Dvd Sony Sr370 Multiformato Nuevos Sellados,129.0,PEN,1,15,buy_it_now,gold_special,2038-06-20T04:00:00.000Z,...,,,PE,Peru,PE-LIM,Lima,TVBFQ0xJTWE2NjBi,Lima,,

In [6]:
with open('MPE1004_0000000000.json','r') as f:
    metadata = json.loads(f.read(),encoding='UTF-8')

In [7]:
del metadata['results']

In [8]:
pd.json_normalize(metadata)

,site_id,secondary_results,related_results,available_sorts,filters,available_filters,paging.total,paging.offset,paging.limit,paging.primary_results,sort.id,sort.name
0,MPE,[],[],"[{'id': 'price_asc', 'name': 'Menor precio'}, ...","[{'id': 'adult_content', 'name': 'Filtro de co...","[{'id': 'official_store', 'name': 'Tiendas ofi...",39,0,200,39,relevance,MÃ¡s relevantes

In [9]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if isinstance(x, dict):
            for a in x:
                flatten(x[a], name + a + '_')
        elif isinstance(x, list):
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[str(name[:-1])] = str(x)

    flatten(y)
    return out

In [10]:
metadata_flat = flatten_json(metadata)

In [11]:
results_flat = [flatten_json(result) for result in data['results']]

In [12]:
def merge(list, dict2): 
    new_list =[]
    i = 0
    for a in list:
        res = {**a, **dict2}
        new_list.append(res)
        i += 1
    return new_list

In [13]:
merge_flat = merge(results_flat,metadata_flat)

In [14]:
df = pd.DataFrame(merge_flat)

In [15]:
df.to_csv('MPE/2020/08/28/MPE1004.csv',index=False)